* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    margin: 8px;
    color: #F9FAF8;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
  }

h1 {
    font-size: 48px;
    margin-bottom: 8px;;
}

p {
    font-size: 18px;
    margin-bottom: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #1F2937;
    padding: 18px;
}

.header-left {
    display: flex;
    font-size: 24px;
    font-weight: 900;
    margin-left: 100px;
}

.header-right {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 16px;
    margin-right: 100px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

.main-left {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 100px;
}

.main-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px;
}

.img-main {
    width: 300px;
}