* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    margin: 8px;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: green;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: grey;
    padding: 18px;
}

.header-left {
    display: flex;
    font-size: 32px;
}

.header-right {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: large;
}

.main {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

.main-left {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.img-main {
    width: 500px;
}